.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 9px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 18px;
  border-bottom: 1px solid #eee7ff;
}

.title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.44px;
  color: #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0 16px 16px;
  align-content: start;

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.message {
  padding: 48px 24px;
  text-align: center;
  color: #79767d;
  font-size: 16px;
  font-weight: 500;
}

.error {
  padding: 48px 24px;
  text-align: center;
  color: crimson;
  font-size: 16px;
  font-weight: 500;
}

